<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema Universitario</display-name>
 <description>Ejemplo de Mapeo Relacional/Objeto<description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>
 <servlet>
   <servlet-name>ActualizarProfesor</servlet-name>
   <servlet-class>display.ActualizarProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleProfesor</servlet-name>
   <servlet-class>display.DetalleProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaProfesores</servlet-name>
   <servlet-class>display.ListaProfesores</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>ActualizarProfesor</servlet-name>
   <url-pattern>/universidad/actualizarProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleProfesor</servlet-name>
   <url-pattern>/universidad/detalleProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaProfesores</servlet-name>
   <url-pattern>/universidad/listaProfesores</url-pattern>
 </servlet-mapping>
 <servlet>
   <servlet-name>ActualizarCurso</servlet-name>
   <servlet-class>display.ActualizarCurso</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleCurso</servlet-name>
   <servlet-class>display.DetalleCurso</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaCursos</servlet-name>
   <servlet-class>display.ListaCursos</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>ActualizarCurso</servlet-name>
   <url-pattern>/universidad/actualizarCurso</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleCurso</servlet-name>
   <url-pattern>/universidad/detalleCurso</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaCursos</servlet-name>
   <url-pattern>/universidad/listaCursos</url-pattern>
 </servlet-mapping>
</web-app>